body{
	min-width: 1200px;
	background: rgb(8,34,47) url(../images/body_back.jpg) center top no-repeat;
}
.header{
	width: 100%;
	height: 100px;
	margin-bottom: 20px;
	background-color: rgba(11, 28, 38, 0.8);
}
.header .title .logo{
	margin-top: 13px;
}
.header .title .logo p{
	font-size: 14px;
	line-height: 28px;
	letter-spacing: 1px;
	color: #a7a7a7;
}
.header .title .list li{
	position: relative;
	margin-right: 79px;
	float: left;
	font-size: 18px;
	height: 100px;
	line-height: 100px;
	letter-spacing: 0px;
}
.header .title .list li.active:after{
	content: '';
	position: absolute;
	bottom: 23px;
	left: 50%;
	transform: translateX(-14px);
	width: 28px;
	height: 4px;
	background-color: #2fffe9;
}
.header .title .list li a{
	color: #2fffe9;
}
.header .title>span{
	float: right;
	height: 100px;
	line-height: 100px;
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
}
.header .title>span a{
	color: #ff2a52;
}
.container .swiper{
	margin-right: 20px;
	float: left;
	text-align: center;
	width: 320px;
	height: 850px;
	overflow: hidden;
	background-color: rgba(11, 43, 61, 0.63);
}
.container .swiper h3{
	 font-size: 22px;
	 font-weight: normal;
	 height: 52px;
	 line-height: 65px;
	 color: #2fffe9;
 }
.container .swiper>span{
	font-size: 14px;
	color: #ccc;
	line-height: 30px;
}
.container .swiper>p{
	font-size: 18px;
	font-weight: 700;
	line-height: 34px;
	color: #2fffe9;
}
.container .swiper .ulBox{
	height: 725px;
	overflow: hidden;
	padding: 0 20px;
	margin-top: 9px;
}
.container .swiper .ulBox ul{
	margin-top: -103px;
}
.container .swiper .ulBox li{
	height: 80px;
	padding: 20px 0;
	text-align: left;
	border-bottom: dashed 1px rgba(255, 255, 255, 0.26);
}
.container .swiper .ulBox li:last-child{
	border: none;
}
.container .swiper .ulBox li .img{
	float: left;
	width: 120px;
	height: 80px;
	margin-right: 20px;
}
.container .swiper .ulBox .message p{
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	color: #fff;
}
.container .swiper .ulBox li .message p:last-child{
	font-size: 14px;
	color: #aaa;
}
.container .exchange{
	position: relative;
	float: left;
	width: 860px;
	height: 850px;
	background-color: #0b2b3d;
}
.container .exchange>.step{
	width: 802px;
	height: 94px;
	line-height: 78px;
	font-size: 16px;
	color: #fff;
	background: url(../images/flow.png) center no-repeat;
	margin: 64px auto;
}
.container .exchange form{
	width: 542px;
	margin: 0 175px 85px 150px;
	color: #fff;
	font-size: 16px;
}
.container .exchange form input{
	margin-left: 15px;
	width: 431px;
	height: 44px;
	line-height: 44px;
	padding-left: 28px;
	margin-bottom: 30px;
	color: #fff;
	outline: none;
	background-color: #103a52;
	border-radius: 22px;
	border: solid 1px rgba(47, 255, 233, 0.42);
}
.container .exchange form p:nth-child(3) input{
	width: 200px;
}
.container .exchange p:not(:last-child) a{
	display: inline-block;
	margin-left: 75px;
	width: 200px;
	height: 44px;
	line-height: 44px;
	text-align: center;
	font-size: 18px;
	font-weight: 700;
	color: #ececec;
	background-color: #d6173b;
	box-shadow: 0px 5px 10px 0px
	rgba(45, 0, 8, 0.33);
	border-radius: 22px;
}
.container .exchange p:last-child{
	margin-top: 15px;
	padding-left: 75px;
	font-size: 14px;
	line-height: 30px;
	color: #ccc;
}
.container .exchange p:last-child img{
	vertical-align: -4px;
	margin-right: 10px;
}
.container .exchange p:last-child a{
	display: inline-block;
	height: 30px;
	line-height: 30px;
	color: #ccc;
}
.container .exchange .question{
	width: 780px;
	margin: 0 auto;
	height: 180px;
	padding: 20px;
	background-color: #082434;
	border-radius: 6px;
}
.container .exchange .question h1{
	margin-bottom: 20px;
	height: 30px;
	line-height: 30px;
	font-size: 18px;
	color: #ccc;
}
.container .exchange .question h1 img{
	margin-right: 13px;
	vertical-align: -8px;
}
.container .exchange .question table{
	width: 100%;
}
.container .exchange .question table td{
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 16px;
	color: #ccc;
}
.container .exchange .question table td a{
	color: #ccc;
}
.container .exchange .question table td a:hover{
	color: #2fffe9;
	text-decoration: underline;
}
@media screen and (min-width: 1200px) {
	.container .exchange .rightBotton{
		position: absolute;
		bottom: 251px;
		right: -62px;
	}
}
@media screen and (max-width: 1200px) {
	.container .exchange .rightBotton {
		position: fixed;
		top: 506px;
		right: 0px;
	}
}
.exchange .rightBotton li{
	width: 44px;
	height: 44px;
	margin-bottom: 4px;
	background: #103a52 url(../images/qq.png) center no-repeat;
	border-radius: 8px;
	border: solid 1px #206f9c;
}
.exchange .rightBotton li.toTop{
	cursor: pointer;
	background: #103a52 url(../images/toTop.png) center no-repeat;
}
.exchange .rightBotton li.toTop:hover{

}
.footer{
	margin-top: 99px;
	width: 100%;
	height: 192px;
	background-color: #0b1c26;
}
.footer ul li{
	float: left;
	width: 33%;
	box-sizing: border-box;
	padding: 25px 0 0 45px;
	height: 192px;
}
.footer ul li .img{
	float: left;
	margin-right: 29px;
	width: 74px;
	height: 74px;
}
.footer ul li .text{
	float: left;
	font-size: 14px;
	color: #ccc;
	line-height: 36px;
}
.footer ul li .text h4{
	font-size: 18px;
	font-weight: normal;
}
.getUrl{
	position: relative;
	width: 708px;
	height: 629px;
	padding: 0 111px;
	box-sizing: border-box;
	background-color: rgba(11, 28, 38, 0.85);
	border-radius: 16px;
}
.getUrl h1{
	height: 70px;
	text-align: center;
	font-size: 20px;
	font-weight: normal;
	line-height: 70px;
	color: #2fffe9;
}
.getUrl .ulbox{
	width: 486px;
	height: 260px;
	background-color: #103a52;
	border-radius: 8px;
}
.getUrl .ulbox ul{
	height: 240px;
	padding-top: 20px;
	overflow: auto;
}
.getUrl .ulbox ul li{
	padding-left: 84px;
	height: 60px;
	margin-bottom: 20px;
	line-height: 60px;
	font-size: 16px;
	color: #fff;
}
.getUrl .ulbox ul li img{
	width: 90px;
	height: 60px;
	margin-right: 40px;
	vertical-align: top;
}
.layui-layer{
	background: none;
}
.getUrl .toSee{
	height: 57px;
	line-height: 57px;
	font-size: 16px;
	color: #fff;
}
.getUrl .toSee a{
	color: #2fffe9;
}
.getUrl form p.inputUrl{
	position: relative;
	width: 486px;
	height: 40px;
	background-color: #103a52;
	border-radius: 20px;
	border: solid 1px rgba(47, 255, 233, 0.42);
}
.getUrl form p.inputUrl input{
	width: 100%;
	height: 40px;
	font-size: 14px;
	border-radius: 20px;
	padding: 0 80px 0 20px;
	box-sizing: border-box;
	border: none;
	outline: none;
}
.getUrl form p.inputUrl input.active{
	box-shadow: 0px 0px 40px rgb(47,143,138);
	padding: 0 20px;
}
.getUrl form p.inputUrl span{
	position: absolute;
	top: 0;
	right: 0;
	text-align: center;
	cursor: pointer;
	font-size: 16px;
	width: 72px;
	height: 40px;
	line-height: 40px;
	color: #2fffe9;
	background-color: #24546f;
	border-radius: 0px 20px 20px 0px;
}
.getUrl .warnP{
	height: 19px;
	font-size: 14px;
	color: #ccc;
	margin: 17px 0 36px 0;
}
.getUrl .warnP img{
	margin-right: 11px;
	vertical-align: -4px;
}
.getUrl .sureChanges{
	display: block;
	margin: 0 auto;
	text-align: center;
	cursor: not-allowed;
	width: 200px;
	height: 44px;
	line-height: 44px;
	font-size: 18px;
	font-weight: 700;
	color: #ececec;
	background-color: #954151;
	box-shadow: 0px 5px 10px 0px
	rgba(45, 0, 8, 0.33);
	border-radius: 22px;
}
.getUrl .sureChanges.active{
	cursor: pointer;
	background-color: #ff2a52;
	box-shadow: 0px 5px 10px 0px
	rgba(45, 0, 8, 0.33);
	color: #fff;
}
.getUrl .toQQ{
	text-align: center;
	margin-top: 15px;
	font-size: 14px;
	color: #ccc;
}
.getUrl .toQQ a{
	color: #2fffe9;
	text-decoration: underline;
}
.getUrl i.layui-layer-close{
	position: absolute;
	cursor: pointer;
	top: 20px;
	right: 20px;
	width: 16px;
	height: 16px;
	background: url(../images/layerClose.png);
}
.nicescroll-cursors{
	border: none!important;
}
.getMessage p{
	margin-top: 31px;
	width: 344px;
	padding: 0 15px;
	box-sizing: border-box;
	height: 40px;
	line-height: 40px;
	border-radius: 20px;
	font-size: 14px;
	color: #fff;
}
.getMessage p a{
	text-decoration: underline;
}
.getMessage p i{
	float: right;
	font-style: normal;
}
.layui-layer-msg{
	background: rgba(0,0,0,.6)!important;
}
.layui-layer-close2{
	display: none!important;
}
.layui-layer{
	background: none!important;
}
.state-1,.state-0,.state-3{
	width: 344px!important;
	background-color: #0c2a3b!important;
}
.state-2{
	width: 486px!important;
	background-color: #ff2a52!important;
}
.state-4{
	width: 486px!important;
	color: #103a52!important;
	background-color: #2fffe9!important;
}
.state-4 a{
	color: #103a52!important;
}
.state-5,.state-6,.state-7{
	width: 486px!important;
	height: 40px!important;
	background-color: #515457!important;
	border-radius: 20px!important;
}
.state-8,.state-9,.state-10,.state-11,.state-12{
	width: 486px!important;
	background-color: #2f3c43!important;
	border: solid 1px rgba(47, 255, 233, 0.42)!important;
}

.Novice_LC{
	width: 250px;
	min-height: 60px;
	background:url(../images/Novice_lc.png) no-repeat;
	background-size: 250px 60px;
	margin: 10px auto 0;
	color: #1dbdac;
	font-size: 18px;
	line-height: 60px;
	cursor: pointer;
	}
	.Novice_LC.NLC_active .Novice_top{
		color: #2fffe9;
		background:url(../images/Novice_tl.png) no-repeat;
		background-size: 250px 60px;
	}
	/* .Novice_LC.NLC_active .Novice_ul{
		display: block
	} */
.Novice_top:hover{
	color: #2fffe9;
	background:url(../images/Novice_tl.png) no-repeat;
	background-size: 250px 60px;
}
.Novice_ul{
	display: none;
	cursor: pointer;
	background:#0a1d28;

}
.Novice_ul img{display: none}
.Novice_ul .N_active img{
	display: inline-block;
	margin-right: 8px;
	margin-top: -5px;
}
.Novice_ul .N_active{
	color:#ff2a52

}
/* .Novice_ul li:hover img{
	display: inline-block;
	
} */
.Novice_ul li:hover{
	color:#ff2a52
	
}
.exchange_a{
	position: relative;
	float: left;
	width: 860px;
	/* height: 850px; */
	background-color: #0b2b3d;
}
.guide{
	padding: 0 10px;
}	
.guide img{
	margin:10px auto;
	display: block
}
.pz_title{
	font-size: 18px;
	color:#fff;
	text-align: center;
	margin: 10px 0
}
.pz_para{
	font-size: 14px;
	color: #afafaf;
	text-indent: 2em
}
.pz_littitle{
	font-size: 16px;
	color: #2fffe9
}